<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr> 
<% end %>
	
<td><%= link_to image_tag('minus.png'), decrement_line_item_path(line_item), method: :post, remote: true %> <%= line_item.quantity %> &times;</td>
<td><%= line_item.product.title %></td>
<td class="item_price"><%= number_to_currency(line_item.total_price, :precision => 2, :separator => ",", :delimeter => ".", :unit => "R$") %></td>
</tr>